.dashboard-manager-container {
    display: flex;
    height: 100vh;
    background-color: #20232a;
    color: #61dafb;
}

.sidebar {
    position: fixed;
    top: 80px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #282c34;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 950;
    max-height: 80vh;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    border: 1px solid #444;
}

.main-content {
    flex-grow: 1;
    margin-left: 320px; /* Adjust based on sidebar width */
    padding: 20px;
    background-color: #282c34;
    overflow-y: auto;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    color: #61dafb;
    font-size: 16px;
    line-height: 1.6;
}
